    <!-- <h1 class="text-center">Categories</h1> -->
    <div class="jumbotron">
        <h1 class="display-4">Reviews</h1>
        <p class="lead">This is a list of Reviews defined in ns-app :)</p>
        <hr class="my-4">
        <p>Table is just a mapping of objects to table rows with <code>ngFor</code></p>
            
            <div class="container-flex">
                <div class="row">
                    
                    <div class="col-2">
                        <mat-form-field appearance="fill">
                            <mat-label>User</mat-label>
                            <mat-select [(ngModel)]="userId">
                              <mat-option *ngFor="let user of users" [value]=user.id >
                                {{user.id}}. {{user.username}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                    </div>
                    <div class="col-2">
                          <mat-form-field appearance="fill" >
                            <mat-label>Record</mat-label>
                            <mat-select [(ngModel)]="recordId">
                              <mat-option *ngFor="let record of records" [value]=record.id>
                                {{record.id}}. {{record.title}}
                              </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-3">
                        <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="inputGroup-sizing-sm">Body</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="say something about this product!" [(ngModel)]="body">
                          </div>
                    </div>
                    <div class="col-3">
                        <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="inputGroup-sizing-sm">Rating</span>
                            </div>
                            <input type="number" min="1" max="5" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="e.g. 3" [(ngModel)]="rating">
                          </div>
                    </div>
                    <div class="col-2 mx-1 px-0">
                        <a class="btn btn-primary btn-sm mr-1" href="#" role="button" (click)="addReview()">Add</a>
                        <a class="btn btn-danger btn-sm" href="#" role="button" (click)="cancelEdit()" *ngIf="editingNow!=0">Cancel edit</a>
                    </div>
                    <div class="col hidden-button">
                        <a class="btn btn-secondary btn-sm" href="#" role="button" (click)="updateReview()">Update <i class="bi bi-fast-forward-fill text-success"></i></a>
                    </div>
                </div>
            </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">User id</th>
                    <th scope="col">Record id</th>
                    <th scope="col">Body</th>
                    <th scope="col">Rating</th>
                    <th scope="col">Date</th>
                    <th scope="col">Delete</th>
                    <th scope="col">Update</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let rev of reviews; index as i">
                    <th scope="row">{{ rev.id }}</th>
                    <!-- <td [attr.class]="'updatable-'+record.id">
                    <div *ngIf="!editThis(record.id); else elseCategory">
                        {{ record.categoryId }}
                    </div>
                    <ng-template #elseCategory>
                        <mat-form-field appearance="fill">
                            <mat-label>Category</mat-label>
                            <mat-select [(ngModel)]="categoryId">
                              <mat-option *ngFor="let category of categories" [value]="category.id">
                                {{category.id}}. {{category.name}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                    </ng-template>
                </td> -->
                    <td [attr.class]="'updatable-'+rev.id">
                      <div *ngIf="!editThis(rev.id); else elseUser">{{ rev.userId }}</div>
                      <ng-template #elseUser>
                        <mat-form-field appearance="fill">
                        <mat-label>User</mat-label>
                            <mat-select [(ngModel)]="userId">
                              <mat-option *ngFor="let user of users" [value]=user.id >
                                {{user.id}}. {{user.username}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                      </ng-template>
                    </td>
                      
                    <td [attr.class]="'updatable-'+rev.id">
                      <div *ngIf="!editThis(rev.id); else elseRecord">{{ rev.recordId }}</div>
                      <ng-template #elseRecord>
                        <mat-form-field appearance="fill">
                        <mat-label>Record</mat-label>
                            <mat-select [(ngModel)]="recordId">
                              <mat-option *ngFor="let record of records" [value]=record.id >
                                {{record.id}}. {{record.title}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                      </ng-template>
                    </td>
                    <td [attr.class]="'updatable-'+rev.id">
                      <div *ngIf="!editThis(rev.id); else elseBody">{{ rev.body }}</div>
                      <ng-template #elseBody>
                        <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="say something about this product!" [(ngModel)]="body">
                      </ng-template>
                    </td>
                    <td [attr.class]="'updatable-'+rev.id">
                      <div *ngIf="!editThis(rev.id); else elseRating">{{ rev.rating }}</div>
                      <ng-template #elseRating>
                        <input type="number" min="1" max="5" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="e.g. 3" [(ngModel)]="rating">
                      </ng-template>
                    </td>
                    <td [attr.class]="'updatable-'+rev.id">
                      <div *ngIf="!editThis(rev.id); else elseDate">{{ rev.dateTime | date:'yyyy-MM-dd HH:mm:ss' }}</div>
                      <ng-template #elseDate>
                        not editable! :(
                      </ng-template>
                    </td>
                    <td>
                        <a class="text-danger bi bi-x" role="button" (click)="deleteReview(rev.id)"></a>
                    </td>
                    <td><a src="" class="text-primary bi bi-pencil-fill" role="button" (click)="initializeEdit(rev.id)"></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <p class="lead">
          
        </p>
      </div>