<ul ngbNav #nav="ngbNav" class="nav-tabs bg-dark">
  <li ngbNavItem>
    <a ngbNavLink>Categories</a>
	<ng-template ngbNavContent><app-categories></app-categories></ng-template>
    
  </li>
  <li ngbNavItem>
    <a ngbNavLink>Records</a>
    <ng-template ngbNavContent><app-records></app-records></ng-template>
  </li>
  <li ngbNavItem>
    <a ngbNavLink>Reviews</a>
    <ng-template ngbNavContent><app-reviews></app-reviews></ng-template>
  </li>
  <li ngbNavItem>
    <a ngbNavLink>Users</a>
    <ng-template ngbNavContent><app-users></app-users></ng-template>
  </li>
  <li ngbNavItem>
    <a ngbNavLink>Records list</a>
    <ng-template ngbNavContent><app-record-list></app-record-list></ng-template>
  </li>
  <li ngbNavItem>
    <a ngbNavLink>Register</a>
    <ng-template ngbNavContent><app-registration-form></app-registration-form></ng-template>
  </li>
</ul>
<div [ngbNavOutlet]="nav"></div>
<router-outlet></router-outlet>
