    <!-- <h1 class="text-center">Categories</h1> -->
    <div class="jumbotron">
        <h1 class="display-4">Categories</h1>
        <p class="lead">This is a list of categories defined in ns-app :)</p>
        <hr class="my-4">
        <p>Table is just a mapping of objects to table rows with <code>ngFor</code></p>
            
            <div class="container-flex">
                <div class="row">
                    
                    <div class="col-3">
                        <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="inputGroup-sizing-sm">Category name</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="e.g. camera" [(ngModel)]="categoryName">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="inputGroup-sizing-sm">Brand names</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="e.g. sony, filmora, cameron..." [(ngModel)]="brandNames">
                          </div>
                    </div>
                    <div class="col-2 mx-0 px-0">
                        <a class="btn btn-primary btn-sm" href="#" role="button" (click)="addCategory()" >Add</a>
                    </div>
                    <div class="col hidden-button">
                        <a class="btn btn-secondary btn-sm" href="#" role="button" (click)="updateCategory()">Update <i class="bi bi-fast-forward-fill text-success"></i></a>
                    </div>
            </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Category name</th>
                    <th scope="col">Brand names</th>
                    <th scope="col">Delete</th>
                    <th scope="col">Edit</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cat of categories; index as i">
                    <th scope="row">{{ cat.id }}</th>
                    <td [attr.class]="'updatable-'+cat.id">
                        <div *ngIf="!editThis(cat.id); else elseBlock">{{ cat.name }}</div>
                        <ng-template #elseBlock>
                            <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="e.g. camera" [(ngModel)]="categoryName" [value]="cat.name">
                        </ng-template>
                    </td>
                    <td [attr.class]="'updatable-'+cat.id">
                        <div *ngIf="!editThis(cat.id); else elseBlockForBrandNames">{{ cat.brandNames }}</div>
                        <ng-template #elseBlockForBrandNames>
                           
                            <input *ngIf="editThis(cat.id)" type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="e.g. sony, filmora, cameron..." [(ngModel)]="updateBrandNames" [value]="cat.brandNames">
                        </ng-template>

                    </td>
                    <td><a src="" class="text-danger bi bi-x" role="button" (click)="deleteCategory(cat.id)"></a>
                    </td>
                    <td><a src="" class="text-primary bi bi-pencil-fill" role="button" (click)="initializeEdit(cat.id)"></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <p class="lead">
          
        </p>
      </div>