    <!-- <h1 class="text-center">Categories</h1> -->
    <div class="jumbotron">
        <h1 class="display-4">Records</h1>
        <p class="lead">This is a list of Records defined in ns-app :)</p>
        <hr class="my-4">
        <p>Table is just a mapping of objects to table rows with <code>ngFor</code></p>
            
            <div class="container-flex">
                <div class="row">
                    
                    <div class="col-3">
                        <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="inputGroup-sizing-sm">Record title</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="e.g. sony dynamic-a11" [(ngModel)]="title">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="inputGroup-sizing-sm">Price (€)</span>
                            </div>
                            <input type="number" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="e.g. 12.87" [(ngModel)]="price">
                          </div>
                    </div>
                    <div class="col-2">
                        <mat-form-field appearance="fill">
                            <mat-label>Category</mat-label>
                            <mat-select [(ngModel)]="categoryId">
                              <mat-option *ngFor="let category of categories" [value]="category.id">
                                {{category.id}}. {{category.name}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                    </div>
                    <div class="col-2">
                        <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-sm">Is this rent for long term?</span>
                              </div>
                        <mat-radio-group aria-label="Select an option" [(ngModel)]="isLongTermLoan">
                            <mat-radio-button class="mx-4" value=true [checked]="true">Yes</mat-radio-button>
                            <mat-radio-button value=false [checked]="false">No</mat-radio-button>
                          </mat-radio-group>
                        </div>
                    </div>
                    <div class="col-2 mx-0 px-0">
                        <a class="btn btn-primary btn-sm" href="#" role="button" (click)="addRecord()">Add</a>

                    </div>
                    <div class="col hidden-button">
                        <a class="btn btn-danger btn-sm" href="#" role="button" (click)="cancelEdit()" *ngIf="editingNow!=0">Cancel edit</a>
                        <a class="btn btn-secondary btn-sm" href="#" role="button" (click)="updateRecord()">Update <i class="bi bi-fast-forward-fill text-success"></i></a>
                    </div>
                </div>
            </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Record title</th>
                    <th scope="col">Price</th>
                    <th scope="col">Category</th>
                    <th scope="col">Long term loan?</th>
                    <th scope="col">Reviews</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let record of records; index as i">
                    <th scope="row">{{ record.id }}</th>
                    <!-- <td [attr.class]="'updatable-'+cat.id">
                        <div *ngIf="!editThis(cat.id); else elseBlock">{{ cat.name }}</div>
                        <ng-template #elseBlock>
                            <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="e.g. camera" [(ngModel)]="updateName" [value]="cat.name">
                        </ng-template>
                    </td> -->
                    <td [attr.class]="'updatable-'+record.id">
                        <div *ngIf="!editThis(record.id); else elseTitle">
                            {{ record.title }}
                        </div>
                        <ng-template #elseTitle>
                            <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="e.g. camera" [(ngModel)]="title" [value]="record.title" value="record.title">
                        </ng-template>
                    </td>
                    <td [attr.class]="'updatable-'+record.id">
                        <div *ngIf="!editThis(record.id); else elsePrice">
                            {{ record.price }}
                        </div>
                        <ng-template #elsePrice>
                            <input type="number" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="e.g. camera" [(ngModel)]="price" [value]="record.price" value="record.price" >
                        </ng-template>
                    </td>
                    <td [attr.class]="'updatable-'+record.id">
                        <div *ngIf="!editThis(record.id); else elseCategory">
                            {{ record.categoryId }}
                        </div>
                        <ng-template #elseCategory>
                            <mat-form-field appearance="fill">
                                <mat-label>Category</mat-label>
                                <mat-select [(ngModel)]="categoryId">
                                  <mat-option *ngFor="let category of categories" [value]="category.id">
                                    {{category.id}}. {{category.name}}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                        </ng-template>
                    </td>
                    <td [attr.class]="'updatable-'+record.id">
                        <div *ngIf="!editThis(record.id); else elseLong">
                            {{ record.isLongTermLoan ? "yep" : "nope" }}
                        </div>
                        <ng-template #elseLong>
                            <mat-radio-group aria-label="Select an option" [(ngModel)]="isLongTermLoan">
                                <mat-radio-button class="mx-4" value=true [checked]="true">Yes</mat-radio-button>
                                <mat-radio-button value=false [checked]="!record.isLongTermLoan">No</mat-radio-button>
                            </mat-radio-group>
                            <!-- pataisyti value buttone is yes i true -->
                        </ng-template>
                    </td>
                    
                    <td>{{ record.reviewsIdList }}</td>
                    
                    <td><a class="text-danger bi bi-x" role="button" (click)="deleteRecord(record.id)"></a>
                    </td>
                    <td><a src="" class="text-primary bi bi-pencil-fill" role="button" (click)="initializeEdit(record.id)"></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <p class="lead">
          
        </p>
      </div>