    <!-- <h1 class="text-center">Categories</h1> -->
    <div class="jumbotron">
        <h1 class="display-4">Users</h1>
        <p class="lead">This is a list of Users defined in ns-app :)</p>
        <hr class="my-4">
        <p>Table is just a mapping of objects to table rows with <code>ngFor</code></p>
            
            <div class="container-flex">
                <div class="row">
                    
                    <div class="col-3">
                        <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="inputGroup-sizing-sm">Username</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" [(ngModel)]="username">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="inputGroup-sizing-sm">Password</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" [(ngModel)]="password">
                          </div>
                    </div>
                    <div class="col-3">
                        <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="inputGroup-sizing-sm">Email</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="test@example.test" [(ngModel)]="email">
                          </div>
                    </div>
                    <div class="col-2">
                        <mat-form-field appearance="fill" >
                          <mat-label>Record</mat-label>
                          <mat-select [(ngModel)]="recordId">
                            <mat-option [value] = 0>
                                No records yet
                            </mat-option>
                            <mat-option *ngFor="let record of freeRecords" [value]=record.id>
                              {{record.id}}. {{record.title}}
                            </mat-option>
                            
                          </mat-select>
                      </mat-form-field>
                  </div>
                    <div class="col-2 mx-0 px-0">
                        <a class="btn btn-primary btn-sm mr-1" href="#" role="button" (click)="addUser()">Add</a>
                        <a class="btn btn-danger btn-sm" href="#" role="button" (click)="cancelEdit()" *ngIf="editingNow!=0">Cancel edit</a>
                    </div>
                    <div class="col hidden-button">
                        <a class="btn btn-secondary btn-sm" href="#" role="button" (click)="updateUser()">Update <i class="bi bi-fast-forward-fill text-success"></i></a>
                    </div>
                </div>
            </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Username</th>
                    <th scope="col">Password</th>
                    <th scope="col">Email</th>
                    <th scope="col">Records</th>
                    <th scope="col">Delete</th>
                    <th scope="col">Update</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users; index as i">
                    <th scope="row">{{ user.id }}</th>
                    <td [attr.class]="'updatable-'+user.id">
                        <!-- <div *ngIf="!editThis(cat.id); else elseBlock">{{ cat.name }}</div>
                        <ng-template #elseBlock>
                            <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="e.g. camera" [(ngModel)]="updateName" value="cat.name">
                        </ng-template> -->
                        <div *ngIf="!editThis(user.id); else elseUsername">
                            {{ user.username }}
                        </div>
                        <ng-template #elseUsername>
                            <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="e.g. username123" [(ngModel)]="username" value="user.username">
                        </ng-template>
                        
                    </td>
                    <td [attr.class]="'updatable-'+user.id">
                        <div *ngIf="!editThis(user.id); else elsePassword">{{ user.password }}</div>
                        <ng-template #elsePassword>
                            <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="e.g. password123" [(ngModel)]="password" value="user.password">
                        </ng-template>
                    </td>
                    <td [attr.class]="'updatable-'+user.id">
                        <div *ngIf="!editThis(user.id); else elseEmail">{{user.email}}</div>
                        <ng-template #elseEmail>
                            <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="e.g. email@example.com" [(ngModel)]="email" value="user.email">
                        </ng-template>
                    </td>
                    <td [attr.class]="'updatable-'+user.id">
                        <div *ngIf="!editThis(user.id); else elseRecordList">{{user.recordIdList}}</div>
                        <ng-template #elseRecordList>
                            <mat-form-field appearance="fill" >
                                <mat-label>Record</mat-label>
                                <mat-select [(ngModel)]="addRecordId">
                                  <mat-option [value] = 0>
                                      don't add records
                                  </mat-option>
                                  <mat-option *ngFor="let record of records" [value]=record.id>
                                    {{record.id}}. {{record.title}}
                                  </mat-option>
                                  
                                </mat-select>
                            </mat-form-field>
                        </ng-template>
                        </td>
                    <td>
                        <a class="text-danger bi bi-x" role="button" (click)="deleteUser(user.id)"></a>
                    </td>
                    <td>
                        <a class="text-primary bi bi-pencil-fill" role="button" (click)="initializeEdit(user.id)"></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <p class="lead">
          
        </p>
      </div>